form {
  width: 80%;
  margin: 0 auto;
}

#form-div {
  width: 30%;
  border-radius: 25px;
  background-color: #ffffff;
  color: #2c3e50;
  
}

div > h1 {
  color: #ffffff;
  margin-bottom: 2%;
}

form > div { 
  width: 95%;
}


@media only screen and (max-width: 900px)
{
  #form-div {
    width: 80%;
  }

}