form {
  width: 80%;
  margin: 0 auto;
}

#form-div {
  width: 30%;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

form > div { 
  width: 95%;
}

div > h1 {
  color: #ffffff;
  margin-bottom: 2%;
}

@media only screen and (max-width: 900px)
{
  #form-div {
    width: 80%;
    margin-top: -8%;
    margin-bottom: 0;
    padding-top: 1rem;
  }

  form > div { 
    margin: 0;
  }


}

@media only screen and (device-aspect-ratio: 40/71)
{
  #form-div {

    padding-top: 1rem;
  }

  .err-div {
    display: none;
  }

}